{{set . "title" "About me - GBlog"}}
{{set . "about" "active" }}
{{template "header.html" .}}
<div class="content">
    <div class="history-nav" id="his">
       <div class="history-title">
         关于我
       </div>
       <div class="history-cell">
         <p>&nbsp;&nbsp;&nbsp;O(∩_∩)O哈哈~</p>
         <p>github：<a href="https://github.com/danielqsj">https://github.com/danielqsj</a><br>
          oschina：<a href="http://my.oschina.net/qsjfighting">http://my.oschina.net/qsjfighting</a><br>
         </p>
       </div>
    </div>
</div>
{{template "footer.html" .}}
